* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(135deg, #020024, #090979, #00d4ff);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 800px;
}

h1 {
    font-size: 2.3rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1rem;
    opacity: 0.8;
    margin-bottom: 30px;
}

.form-box {
    background: rgba(0, 0, 0, 0.4);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}

.form-box h2 {
    margin-bottom: 20px;
    color: #00f2ff;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 0.95rem;
}

button {
    background: #00f2ff;
    color: black;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00bcd4;
}

#result {
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: bold;
}

.progress {
    width: 100%;
    height: 10px;
    background: #333;
    border-radius: 6px;
    margin-top: 10px;
    overflow: hidden;
}
#progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #00ff99, #00f2ff);
    transition: width 0.4s ease;
}